# Python
####################
# Arquivos gerados pelo Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais (Venvs)
# Ignora pastas de ambiente virtual
venv/
env/
.venv/

# Flask-Migrate e Cache

migrations/__pycache__/
.pytest_cache/

# Dados, Logs e Instância

/instance/
*.db
/log/
*.log


dist/
build/
*.egg-info/


.vscode/

# PyCharm
.idea/